<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Cotización</TITLE>

</HEAD>

<BODY>
<DIV id="page_1">




<div class="div0" ><P class="p1 ft1 grad">COTIZACIÓN Nº <%= @order.id%></P></div>
<DIV class="img1">
	<%= image_tag  "https://sistemavyp.herokuapp.com/assets/image001.png" %>
</DIV>
<TABLE class="t0">

	
	

<TR>
	<TD class="tr1 td0"><P class="p2 ft2 grad">NOMBRE :</P></TD>
	<TD class="tr1 td6"><P class="p4 ft2">COMERCIAL V&P LTDA.</P></TD>
	
</TR>
<TR>
	<TD class="td0"><P class="p2 ft2 grad">R.U.T. :</P></TD>
	<TD class="td6"><P class="p4 ft2">76.524.770-5</P></TD>
	
</TR>
<TR>
	<TD  class="td0"><P class="p2 ft2 grad">DIRECCIÒN :</P></TD>
	<TD class="td6"><P class="p4 ft2">LOS ABEDULES # 2145 B 3 D. 303</P></TD>
	
</TR>
<TR>
	<TD  class="td0"><P class="p2 ft2 grad">GIRO:</P></TD>
	<TD class="td6"><P class="p5 ft2">COM. E INST. DE EQUIPOS Y SISTEMAS CONTRA INCEDIOS Y SEGURIDAD</P></TD>
	
	
</TR>


<TR>
	<TD class="td0"><P class="p2 ft2 grad">Ciudad :</P></TD>
	<TD class="td6"><P class="p4 ft2">OSORNO</P></TD>

</TR>
</table>
<table class="t2">
	<tr>
		<TD colspan=2><P class="p3 ft2 grad">www.vypltda.cl</P></TD>
	</tr>
	<TR>

	<TD class="tr1 td0"><P class="p2 ft2 grad">TELEFONO :</P></TD>
	<TD class="tr1 td6"><P class="p4 ft2">64 2 32 1112</P></TD>
</TR>
	<tr>
		<TD class="td0"><P class="p2 ft2 grad">E-MAIL:</P></TD>
		<TD  class="td6"><P class="p4 ft2">CORREO DEL VENDEDOR</P></TD>

</tr>
</table>	
<div class="div1 grad" >
<table class="t1">
<TR>

	<TD colspan=2 ><P class="p3 ft2 grad">CLIENTE</P></TD>

	<TD colspan=2 ><P class="p3 ft2 grad">Entrega</P></TD>
	
</TR>
<TR>
	<TD class="td0"><P class="p2 ft3 grad ">Nombre :</P></TD>

	<TD class="td6"><P class="p6 ft3"><%=@order.name%></P></TD>
	<TD class="td0"><P class="p2 ft3 grad">Fecha :</P></TD>
	<TD class="td6"><P class="p6 ft3">fecha</P></TD>
</TR>
<TR>
	<TD class="td0"><P class="p2 ft3 grad">R.U.T :</P></TD>
	<TD class="td6"><P class="p6 ft3"><%=@order.rut%></P></TD>
	<TD class="td0"><P class="p2 ft3 grad">Condición :</P></TD>
	<TD class="td6"><P class="p6 ft3"><%=@order.sell_condition%></P></TD>
</TR>
<TR>
	<TD class="td0"><P class="p2 ft3 grad">Dirección :</P></TD
		<TD class="td6"><P class="p6 ft3"><%=@order.address%></P></TD>>
	<TD class="td0"><P class="p2 ft3 grad">Atte. A :</P></TD>
	<TD class="td6"><P class="p6 ft3"><%=@order.name%></P></TD>
</TR>
<TR>
	<TD class="td0"><P class="p2 ft3 grad">Teléfono :</P></TD>

	<TD class="td6"><P class="p6 ft3"><%=@order.telephone%></P></TD>
	
	
</TR>
<TR>
	<TD class="td0"><P class="p2 ft2 grad">E-mail :</P></TD>
	
	<TD class="td6"><P class="p6 ft2"><%=@order.email%></P></TD>
	</TR>

</table>
<table class="t3">
<TR>
	<TD class="tr8 td0"><P class="p2 ft10">Codigo</P></TD>
	<TD class="tr8 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr8 td6"><P class="p16 ft9">DESCRIPCION</P></TD>
	<TD class="tr8 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr8 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p17 ft11">CANTIDAD</P></TD>
	<TD class="tr8 td4"><P class="p18 ft11">PRECIO UNIT.</P></TD>
	<TD class="tr8 td5"><P class="p15 ft11">TOTAL</P></TD>
</TR>
<TR>
	<TD class="tr10 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr10 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr10 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr10 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr10 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr10 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr10 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr10 td5"><P class="p19 ft8">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft13">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft13">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft13">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft13">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft13">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft13">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft13">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft13">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr11 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr11 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr11 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr11 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr11 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr11 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr11 td5"><P class="p19 ft13">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p19 ft12">-</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr12 td12"><P class="p20 ft14">"Descuentos ya aplicados"</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft5">-</P></TD>
</TR>
<TR>
	<TD class="tr13 td0"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr13 td1"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr13 td8"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr13 td3"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr13 td4"><P class="p0 ft15">&nbsp;</P></TD>
	<TD rowspan=2 class="tr3 td5"><P class="p19 ft5">-</P></TD>
</TR>
<TR>
	<TD class="tr14 td0"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr14 td1"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr14 td6"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr14 td7"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr14 td8"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr14 td3"><P class="p0 ft16">&nbsp;</P></TD>
	<TD class="tr14 td4"><P class="p0 ft16">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p19 ft5">-</P></TD>
</TR>
<TR>
	<TD colspan=3 rowspan=2 class="tr15 td13"><P class="p21 ft17">Emitir Documento a Nombre de: Comercial V&P Ltda.</P></TD>
	<TD class="tr1 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr1 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr1 td3"><P class="p22 ft18">Neto</P></TD>
	<TD class="tr1 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr1 td5"><P class="p0 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td7"><P class="p0 ft19">&nbsp;</P></TD>
	<TD class="tr16 td8"><P class="p0 ft19">&nbsp;</P></TD>
	<TD rowspan=2 class="tr9 td3"><P class="p22 ft11">Descuento</P></TD>
	<TD rowspan=2 class="tr9 td4"><P class="p23 ft11">0%</P></TD>
	<TD rowspan=2 class="tr9 td5"><P class="p19 ft5">-</P></TD>
</TR>
<TR>
	<TD class="tr17 td0"><P class="p0 ft20">&nbsp;</P></TD>
	<TD class="tr17 td1"><P class="p0 ft20">&nbsp;</P></TD>
	<TD class="tr17 td6"><P class="p0 ft20">&nbsp;</P></TD>
	<TD class="tr17 td7"><P class="p0 ft20">&nbsp;</P></TD>
	<TD class="tr17 td8"><P class="p0 ft20">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr6 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr6 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr6 td7"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr6 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr6 td3"><P class="p22 ft11">Neto Final</P></TD>
	<TD class="tr6 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr6 td5"><P class="p19 ft5">-</P></TD>
</TR>
<TR>
	<TD class="tr9 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr9 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD colspan=2 class="tr9 td12"><P class="p24 ft11">NOMBRE DEL VENDEDOR</P></TD>
	<TD class="tr9 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr9 td3"><P class="p22 ft18">IVA</P></TD>
	<TD class="tr9 td4"><P class="p23 ft18">19%</P></TD>
	<TD class="tr9 td5"><P class="p19 ft5">-</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p25 ft21">Com. V&P Ltda.</P></TD>
	<TD class="tr3 td8"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p22 ft11">Total</P></TD>
	<TD class="tr3 td4"><P class="p0 ft0">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p26 ft9">-</P></TD>
</TR>
</TABLE>
<P class="p27 ft22">Celular: 55614207</P>
<P class="p28 ft9">Este documento no tiene validez como factura.</P>
<P class="p28 ft9">Valides de Cotizacion es de 5 dias.</P>
</DIV>
</BODY>
</HTML>
