<tr>
<td><%= product.code %></td>
<td><%= product.name %></td>
<td><%= product.buy_price %></td>
<td><%= product.sell_price %></td>
<%= form_for order_item, remote: true do |f| %>
<td><%= f.number_field :quantity, value: order_item.quantity.to_i, min: 1 %></td>
<%= f.hidden_field :product_id, value: product.id %>
<td><%= order_item.buy_total %></td>
<td><%= order_item.sell_total %></td> 
<td><%= f.submit "Actualizar", class: "btn btn-primary" %></td>
<td><%= link_to "Eliminar", order_item, { data: { confirm: "¿Está seguro de eliminar '#{order_item.product.name}' de la orden?" }, method: :delete, remote: true, class: "btn btn-danger" } %></td>
<% end %>
</tr>
      
    
