<h1>Ordenes</h1>
<%= form_tag orders_path, :method => 'get' do %>
<p>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Buscar", :name => nil %>
</p>
<table class="table">
<tr>
<th>Código</th>
<th>Nombre</th>
<th>Precio Compra</th>
<th>Precio Venta</th>
<th>Cantidad</th>
<th></th>
</tr>
<%= will_paginate @products%>
<form accept-charset="UTF-8" action="/order_items" class="new_order_item" data-remote="true" id="new_order_item" method="post"></form>
<div id="found_products"><%= render 'found_products' %></div>

</table>

<% end %>

<div>
<h2>Orden actual</h2>
<div id="shopping_cart">
<%= render "shopping_cart", :locals => { :order_items => @order_items, :order => @order}%>
</div>
