<div class="row">
<div class="span6 offset3">
<%= form_for(@product) do |f| %>
 <%= render 'shared/products_error_messages' %>
<%= f.label :code, "Código" %>
<%= f.text_field :code %>
<%= f.label :name, "Nombre" %>
<%= f.text_field :name %>
<%= f.label :buy_price, "Precio de compra" %>
<%= f.text_field :buy_price %>
<%= f.label :sell_price, "Precio de venta" %>
<%= f.text_field :sell_price %>
<%= f.submit "Crear producto", class: "btn btn-large btn-primary" %>
<% end %>
</div>
</div>
