<h1>Productos</h1>
<%= form_tag products_path, :method => 'get', :id => "products_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar", :name => nil %>
  </p>

<table class="table">
<tr>
<th>Código</th>
<th>Nombre</th>
<th>Precio Venta</th>
<th>Precio Compra</th>
<th></th>
<th></th>
<th></th>
</tr>
<%= will_paginate %>
  <div id="products"><%= render 'products' %></div>
 
</table>
<% end %>

<div>
<br />
<%= link_to 'Nuevo Producto', new_product_path, class: "btn btn-large btn-primary" %>

