<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container">

<nav>
<ul class="nav pull-right">
<li><%= link_to "Inicio",root_path%></li>
<li><%= link_to "Ayuda",help_path%></li>
<% if signed_in? %>
<% if current_user.admin? %>
<li><%= link_to "Usuarios", users_path %></li>
<% end %>
<li><%= link_to "Productos", products_path %></li>
<li><%= link_to "Ordenes", orders_path %></li>
<li><%= link_to "Salir", signout_path, method: "delete" %></li>
<% else %>
<li><%= link_to "Ingresar", signin_path %></li>
<% end %>
</ul>
</nav>
</div>
</div>
</header>



